.modal-content {
    width: 60rem;
}
.field{
    margin: 2rem;
}
input, textarea{
    width: 100%;
    font-size: 1.2rem;
    
} 

.full-container{
    background-image: url('./../../../../public/wallpaper.jpg');
    background-size: cover;
    height: 100vh;

}