<div class="w-100 df ai-center jc-center full-container">
    <p-panel class="panel-input">
        <div >
            <h3>
                You are alredy Logged in
            </h3>
            <div class="width-100 df ai-center jc-space-between ">

                <p-button severity="danger" label="Log out"></p-button>
            </div>
        </div>

        <div >
            <h3>Let's Create something cool!</h3>
    
            <p-floatlabel  variant="in">
                <input pInputText id="name" autocomplete="off"/>
                <label for="name">
                    <i class="pi pi-pen-to-square"></i>
                    {{'Your Full Name'}}</label>
            </p-floatlabel>
    
            <p-floatlabel variant="in">
                <input pInputText id="email" autocomplete="off" />
                <label for="email">
                    <i class="pi pi-envelope"></i>
                    {{'Your em@il'}}</label>
            </p-floatlabel>
    
    
            <p-floatlabel  variant="in">
                <input pInputText id="phone" autocomplete="off" />
                <label for="phone">
                    <i class="pi pi-phone"></i>
                    {{'Your phone'}}</label>
            </p-floatlabel>
    
    
    
            <p-floatlabel variant="in">
                <input pInputText id="pass1" type="password" autocomplete="off" />
                <label for="pass1">
                    <i class="pi pi-eye"></i>
                    {{'Your password'}}</label>
            </p-floatlabel>
    
    
            <p-floatlabel    variant="in">
                <input pInputText type="password" id="pass2" autocomplete="off" />
                <label for="pass2">
                    <i class="pi pi-eye"></i>
                    {{'Repeat password'}}</label>
            </p-floatlabel>

            <div  class="df ai-center jc-space-between">
                <p-button >Sign me Up</p-button>
                <p-button >Login Instead</p-button>
            </div>


            <div  class="df ai-center jc-space-between">
                <p-button >LogIn Up</p-button>
                <p-button >Sign up Instead</p-button>
            </div>

        </div>

    </p-panel>
</div>